node_modules/
client/dist/
server/dist/
*.tsbuildinfo
server/db/*.sqlite
server/*.db
server/coverage/
.DS_Store
docs/*
!docs/screenshots
*.md
!/README.md
!/CLAUDE.md
!/MULTI_TENANCY_PROGRESS.md
.idea/
