node_modules/
client/dist/
server/dist/
*.tsbuildinfo
server/db/*.sqlite
server/*.db
.DS_Store
docs/*
!docs/screenshots
!docs/decisions
!docs/stories
*.md
!/README.md
!docs/decisions/*.md
!docs/stories/*.md
!DECISIONS.md
.idea/
